    body {
        font-family: "Lato", Helvetica, Arial, sans-serif;
        color: #7e89a3;
        font-weight: 300;
        font-size: 17px;
        font-size: 1.0625rem;
        line-height: 1.8em;
    }
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .encabezado-txt {
        margin-top: 100px;
        background: #7e89a3;
        padding: 3em 0;
        color: #fff;
        text-align: center;
    }
    
    .encabezado-txt h1 {
        margin: 0 0 .7em 0;
    }
    
    .encabezado-txt p {
        font-size: 1.2em;
        line-height: 1.5em;
    }
    
    .text p {
        text-align: justify;
    }
    
    .container.txt {
        max-width: 46.25rem;
    }
    
    .container.txt {
        margin-top: 4em;
        margin-bottom: 4em;
    }
    
    a {
        color: #91f5df;
        text-decoration: none;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
        transition: all .3s linear;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    
    figure {
        margin: 0;
        padding: 0
    }
    
    @media only screen and (max-width: 35.6rem) {
        body {
            font-size: 16px;
            font-size: 1rem;
            line-height: 1.8em;
        }
    }
    
    .contenedor {
        width: 90%;
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    
    main-footer {
        border-top: solid .125rem #282f40;
    }
    
    .footer-boton {
        text-align: center;
        background: #282f40;
        color: #fff;
        padding: 3em 0;
    }
    
    .footer-boton .btn {
        margin-left: 1em;
    }
    
    .detalle-servicio {
        display: table;
        margin-bottom: 3em;
    }
    
    .detalle-servicio .icono {
        display: table-cell;
        vertical-align: top;
    }
    
    .detalle-servicio .text {
        display: table-cell;
        vertical-align: top;
    }
    
    .detalle-servicio .icono {
        width: 12rem;
    }
    
    .icono-servicio {
        width: 10rem;
        height: 10rem;
        line-height: 10rem;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        border-radius: 10rem;
        background: #f6f6f8;
        border: solid .0625rem #d9d9e2;
        text-align: center;
    }
    
    .icono-servicio img {
        vertical-align: middle;
    }
    
    @media only screen and (max-width: 33.125rem) {
        .detalle-servicio {
            display: block;
        }
        .detalle-servicio .icono {
            display: block;
            text-align: center;
            width: 100%;
        }
        .detalle-servicio .text {
            display: block;
            text-align: center;
            width: 100%;
        }
        .detalle-servicio .icono-servicio {
            margin: 0 auto 1em auto;
        }
    }
    
    .btn {
        padding: .5em 1.5em;
        background: #50c5ab;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        -ms-border-radius: 10em;
        -o-border-radius: 10em;
        border-radius: 10em;
        display: inline-block;
        color: #fff;
    }
    
    .btn:hover {
        background: #329780;
        text-decoration: none;
    }
    
    .btn.btn-light {
        background: #fff;
        border: solid .0625rem #d9d9e2;
        color: #7e89a3;
    }
    
    .btn.btn-light:hover {
        background: #f6f6f8;
    }